html, body, #root {
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.content p, .content li, .licence-table {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.content p {
    margin-bottom: 32px;
}

.licence-table {
    border-collapse: inherit;
    border-spacing: 0 22px;
}

.licence-table tr {
    vertical-align: top;
}
.licence-table td{
    padding-top: 15px;
}


.licence-table tr td:nth-child(1) {
    border-top: 1px solid #ddd;
    font-weight: bold;
}

.licence-table tr td:nth-child(2) {
    padding-left: 20px;
}



